.avatar {
  border-radius: 50%;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 9999;
  position: sticky;
  top: 0;
  align-items: center;
  height: 7.5vh;
}

header .header-logo img {
  width: 50px;
}
header .header-logo {
  display: flex;
  align-items: center;
}

nav {
  align-items: center;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  gap: 100px;
  right: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

nav ul li a {
  color: white;
}

.bars {
  display: none;
  color: white;
  cursor: pointer;
}
.social_links {
  display: flex;
  gap: 20px;
  place-items: center;
}

.social_link {
  font-size: 20px;
  color: white;
}

/*STYLING THE SERVICES COMPONENT*/
.main-services {
  background-color: #22170b;
  height: 75vh;
  position: relative;
}

.service a {
  color: #ff84008c;
}

.links {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

/*Styling the buttons*/

/*Styling the about*/

/* Styling the article*/

#blog {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article {
  background-color: whitesmoke;
  padding: 20px;
  margin: auto;
  width: 60%;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 5px;
}

.article:hover {
  border: 1px solid #213547;
}

.fa-x {
  color: black;
  padding: 10px;
  background-color: white;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  position: inherit;
  top: 0;
  right: 0;
  margin: 20px;
}

/* Styling the skills section*/
#skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#skills .container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: fit-content;
  margin: auto;
  justify-content: center;
}

.skill {
  background: silver;
  padding: 15px;
  margin-bottom: 5px;
  border-radius: 10px;
  width: fit-content;
  position: relative;
  cursor: pointer;
}
.skill h3 {
  top: -20px;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background-color: #213547;
  width: fit-content;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
}

.skill ul {
  padding: 0;
  padding-top: 10px;
  list-style: none;
  line-height: 7vh;
}

.skill ul li {
  font-size: 18px;
  display: flex;
  gap: 5px;
  align-items: center;
  width: 125px;
}

.tags {
  display: flex;
  gap: 10px;
}

@media screen and (max-width: 600px) {
  header {
    height: 7.5vh;
  }
  .bars {
    display: block;
    cursor: pointer;
  }

  nav {
    display: none;
    width: 100%;
  }

  nav ul {
    border-top: 1px solid white;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  nav {
    position: absolute;
    background-color: #213547;
    top: 100%;
    display: flex;
    flex-direction: column;
  }
}
