.nav-link{
  color: gray;
  font-weight: bold;
  transition: all ease-in-out;
  transition-duration: 0.2s;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  justify-items: center;
  padding: 10px;
  border-radius: 10px;
}

.nav-link:hover{
  color: white;
    --tw-text-opacity: 1;
    font-weight: bolder;
}

.nav-link.active{
  --tw-text-opacity: 1;
    color: rgb(96 165 250 / var(--tw-text-opacity));
  --tw-text-opacity: 1;
  font-weight: bolder;
  background-color: transparent;
}

.nav-link.active i{
  --tw-text-opacity: 1;
    color: rgb(96 165 250 / var(--tw-text-opacity));
}

.avatar {
  border-radius: 50%;
}

.social-links li {
  transition: ease-in-out 0.2s;
  transition-duration: 0.5s;
}
.social-links li:hover {
  transform: translateY(-10px);
  box-sizing: border-box;
}
