@import "tailwindcss/base.css";
@import "tailwindcss/components.css";
@import "tailwindcss/utilities.css";

:root {
  font-family: sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  position: relative;
  min-width: 0;
}

html {
  scroll-behavior: smooth;
  height: auto;
  scroll-margin-top: 50px;
}

body {
  background-color: #212529;
  min-height: 100dvh;
  margin: auto;
  position: relative;
    scroll-margin-top: 50px;
}


nav {
  position: fixed;
  right: 5vh;
  top: 2vh;
  z-index: 9999;
  display: flex;
  gap: 5vh;
}

nav .fa-close {
  display: none;
}
nav a {
  border-radius: 20%;
  cursor: pointer;
  padding: 10px 20px;
  width: fit-content;
  font-weight: bold;
  text-align: center;
  color: lightgrey;
  transition: all ease-in-out;
  transition-duration: 0.25s;
  position: relative;
}

nav a:hover {
  color: gray;
  border-bottom: 2px solid white;
}

nav a.active {
  border-bottom: 5px solid white;
  color: white;
  font-weight: bold;
}


nav a:hover::after,
nav a.active::after {
  width: 100%;
  left: 0;
}

section {
  scroll-margin-top: 100px;
}

label {
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}
h1 {
  font-size: 1.5em;
  line-height: 1.1;
}
h2 {
  font-size: 1em;
}

h4 {
  color: #213547;
}

h5 {
  font-size: 1em;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a{
    font-weight: bold;
    transition: all ease-in-out;
    transition-duration: 0.25s;
  }
  a:hover {
    color: black;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (max-width: 930px) {
  nav {
    top: 100%;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 5vh;
    transition: ease-in-out 0.5s;
  }

  nav.open {
    top: 0;
    transition: ease-in-out 0.5s;
  }

  nav .fa-close {
    position: absolute;
    top: 0;
    display: flex;
  }

  #fa-bars {
    display: flex;
  }
  nav #fa-bars {
    display: none;
  }
}
