@import "tailwindcss/base.css";
@import "tailwindcss/components.css";
@import "tailwindcss/utilities.css";

:root {
  font-family: sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  position: relative;
  min-width: 0;
}

html {
  scroll-behavior: smooth;
  height: auto;
  scroll-margin-top: 50px;
}

body {
  background-color: #212529;
  min-height: 100dvh;
  margin: auto;
  position: relative;
    scroll-margin-top: 50px;
}



section {
  scroll-margin-top: 100px;
}

label {
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}
h1 {
  font-size: 1.5em;
  line-height: 1.1;
}
h2 {
  font-size: 1em;
}

h4 {
  color: #213547;
}

h5 {
  font-size: 1em;
}

