@import "tailwindcss/base.css";
@import "tailwindcss/components.css";
@import "tailwindcss/utilities.css";

:root {
  font-family: sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  position: relative;
  min-width: 0;
}

html {
  scroll-behavior: smooth;
  scroll-margin-top: 50px;
}

body {
  background-color: #212529;
  margin: auto;
  scroll-margin-top: 50px;
}



section {
  scroll-margin-top: 100px;
}

h1,
h2,
h3,
h4,
h5 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}
h1 {
  font-size: 1.5em;
  line-height: 1.1;
}
h2 {
  font-size: 1em;
}


h5 {
  font-size: 1em;
}


.bars:hover{
    gap: 8px;
}
.bar{
  background: white;
  height: 2.5px;
  width: 30px;
  border-radius: 10px;
}

.bar.active{
  display: none;
}
